  <h2>Login</h2>
  <h1>{{ index . "error" }}</h1>
  <a href="/following">Following number : {{ .me }}</a>
 <form action="/user_update" method=post>
    <dl>
      <dt>First Name:
      <dd><input type=text name=firstname>
      <dt>Last Name:
      <dd><input type=text name=lastname>
      <dt>E-mail address:
      <dd><input type=email name=email>
      <dt>Birth date:
      <dd><input type=date name=birthdate> 
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Modify>
    </dl>
  </form>
