<!DOCTYPE html>
<h2>Home</h2>
<h1>{{ index . "error" }}</h1>
<li><a href="/logout">logout</a>  <a href="/user_update">account</a> <a href="/search">Search</a></li>
<form name="addpost_form" action="/post" method="post">
  <textarea name="content">
  </textarea>
  <input type="submit" value="Post">
</form>
<li>
  {{ range .posts}}
  <form name="likepost" action="/like_post" method="post">
    <a href="/post/{{ .ID }}">
      <div>
	<h2>{{ .UserName }}</h2>
	{{ .Content }}
      </div>
    </a>
    <input type="text" name="post_id" value='{{ .ID }}' style="display: none"/>
    <input type="text" name="origin" value="home" style="display: none"/>
    <input name="likeButton" type="submit" value="{{ .LikesNumber }} Like"/>
  </form>
</li>
{{ end }}
