  <!DOCTYPE html>
  <h2>{{ .user.UserName }}</h2>
  <div>
      <li>
        First Name:
        <span> {{ .user.FirstName }}</span><br/>
        Last Name:
        <span> {{ .user.LastName }} </span><br/>
        Email:
        <span> {{ .user.MailAddress }} </span><br/>
      </li>
      <form action="/follow" method="post">
        <input type="text" name="id" value="{{ .user.ID }}" style="display: none"/>
        <input type="text" name="method" value="{{ .action }}" style="display: none"/> 
        <input type="submit" value="{{ .action }}"/>
      </form>
  </div>
  
