{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
    {% for post in posts %}
    <li> <div id="{{ post[5] }}" style="width:150px; height:75px; border:1px solid #73AD21; padding: 20px"><h2>{{ post[1] }}</h2>{{ post[0]|safe }}</div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
